{% extends "root/base.html" %}

{% block content %}
<section class="py-8">
    <h1 class="text-3xl md:text-5xl font-bold text-gradient mb-5 2xl:whitespace-nowrap">Pricing</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-4">
        {% for package in packages %}
        <div class="relative border p-4 rounded-lg shadow-md">
            {% if package.discount %}
            <div class="absolute top-0 left-0 bg-red-500 text-white p-2 rounded-br-lg z-10">
                {{ package.discount }}% OFF
            </div>
            {% endif %}
            {% if package.image %}
            <img src="{{ package.image.url }}" alt="{{ package.name }}" class="w-full h-96 object-cover mb-4">
            {% endif %}
            <h2 class="text-2xl font-bold mb-2">{{ package.name }}</h2>
            <p class="text-lg">{{ package.duration_months }} months</p>
            {% if package.discount %}
            <p class="text-lg text-purple-800">Price: ${{ package.discounted_price_usd }}</p>
            <p class="text-sm text-red-500 line-through">Price: ${{ package.price_usd }}</p>
            {% else %}
            <p class="text-lg">Original Price: ${{ package.price_usd }}</p>
            {% endif %}
            <div class="m-2 flex justify-center">
                <a href="{% url 'checkout' package.id %}" class="bg-purple-500 hover:bg-purple-800 p-4 text-center rounded-full shadow-md cursor-pointer text-white">
                    Let's Start From Today
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock content %}
