
<div class="relative  h-5 rounded-full overflow-hidden mt-10 mb-4 bg-gray-300">
    <div class="absolute inset-0 flex justify-between items-center px-2 z-50 text-white">
        <div>Calories Burn Today {{ workouts_today }}</div>
        <div>🔥</div>
    </div>
    <div class="absolute top-0 bottom-0 left-0 rounded-full bg-gradient-to-r from-pink-500 to-purple-500"
        style="width:{{ workouts_today }}%">
    </div>
</div>
<div class="relative h-5 rounded-full overflow-hidden mt-4 mb-4 bg-gray-300">
    <div class="absolute inset-0 flex justify-between items-center px-2 z-50 text-white">
        <div>Calories Burn This Month {{ workouts_month }}</div>
        <div>🔥</div>
    </div>
    <div class="absolute top-0 bottom-0 left-0 rounded-full bg-gradient-to-r from-pink-500 to-purple-500"
        style="width:{{ workouts_month }}%">
    </div>
</div>
<div class="relative h-5 rounded-full overflow-hidden mt-4 mb-4 bg-gray-300">
    <div class="absolute inset-0 flex justify-between items-center px-2 z-50 text-white">
        <div>Total Exercises Taken Today {{ exercises_today }}</div>
        <div>🔥</div>
    </div>
    <div class="absolute top-0 bottom-0 left-0 rounded-full bg-gradient-to-r from-pink-500 to-purple-500"
        style="width:{{ exercises_today }}%">
    </div>
</div>
<div class="relative h-5 rounded-full overflow-hidden mt-4 mb-4 bg-gray-300">
    <div class="absolute inset-0 flex justify-between items-center px-2 z-50 text-white">
        <div>Total Exercises Taken This Month</div>
        <div>🔥</div>
    </div>
    <div class="absolute top-0 bottom-0 left-0 rounded-full bg-gradient-to-r from-pink-500 to-purple-500"
        style="width:{{ exercises_month }}%">
    </div>
</div>
