#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


/*==========================
Sidebar navigation
========================*/
.navbar {
  position: relative;
}
button {
  cursor: pointer;
  background: transparent;;
  border: none;
  font-size: 20px;
}
.navbar .toggle {
  position: fixed;
  left: 30px;
  top: 40px;
  cursor: pointer;
  background: transparent;;
  border: none;
}
.menu-nav {
  list-style: none;
  position: absolute;
  background: #fff;
  left: 0;
  width: 0;
  overflow: hidden;
  max-width: 290px;
  z-index: 9;
  font-size: 18px;
  box-shadow: 0 10px 15px -3px rgb(46 41 51 / 8%), 0 4px 6px -2px rgb(71 63 79 / 16%);
  transform: translateX(-100px);
  transition: transform ease-in-out 0.2s;
  /* transition: width ease 0.2s; */
}
.menu-nav.show-menu {
  width: 100%;
  transform: translateX(0px);
}
.menu-nav li a, .menu-nav li span {
  display: block;
  padding: 1rem;
}
.log-in {
  color: #777;
  border-top: 1px solid #efecec;
  margin-top: 15px;
  font-size: 15px;
}
/* logout */
.logout {
  position: absolute;
  right: 30px;
  top: 40px;
  display: flex;
  gap: 2rem;
  font-size: 20px;
  color: #005bb3;
}
