{% extends "root/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Sign In" %}
{% endblock head_title %}
{% block content %}
<div class="flex items-center justify-center h-screen">
    <div class="text-center max-w-md mx-auto">
        {% if process == "connect" %}
            <h1 class="text-3xl font-bold mb-4">
                {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
            </h1>
            <p class="text-lg mb-8">
                {% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}
            </p>
        {% else %}
            <h1 class="text-3xl font-bold mb-4">
                {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
            </h1>
           
        {% endif %}
    {% element form method="post" no_visible_fields=True %}
        {% slot actions %}
            {% csrf_token %}
            <button class="bg-purple-500 hover:bg-purple-700 text-white font-bold py-2 px-4 rounded-full shadow-md w-32" type="submit">
                {% trans "Continue" %}
            </button>
        {% endslot %}
    {% endelement %}
{% endblock content %}
